<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="ceabc1">  <td>20/11/20 16:44:31</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DriverManagerUtil.setup(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.client.cpq.uitests.admin.TS_06_OLO_Combinations@3e6fa38a]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>TestNG@2137072410</td>   <td></td> </tr>
<tr bgcolor="62aa67">  <td>20/11/20 16:44:32</td>   <td>1202</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TS_06_OLO_Combinations.FirstTestCase(java.lang.String, java.lang.String)[pri:0, instance:com.client.cpq.uitests.admin.TS_06_OLO_Combinations@3e6fa38a]">FirstTestCase</td> 
  <td>TestNG@2137072410</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>20/11/20 16:44:32</td>   <td>1575</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DriverManagerUtil.setup(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.client.cpq.uitests.admin.TS_06_OLO_Combinations@4667ae56]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>TestNG@2137072410</td>   <td></td> </tr>
<tr bgcolor="62aa67">  <td>20/11/20 16:44:33</td>   <td>1855</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TS_06_OLO_Combinations.FirstTestCase(java.lang.String, java.lang.String)[pri:0, instance:com.client.cpq.uitests.admin.TS_06_OLO_Combinations@4667ae56]">FirstTestCase</td> 
  <td>TestNG@2137072410</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>20/11/20 16:44:33</td>   <td>1959</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DriverManagerUtil.setup(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.client.cpq.uitests.admin.TS_06_OLO_Combinations@6eebc39e]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>TestNG@2137072410</td>   <td></td> </tr>
<tr bgcolor="62aa67">  <td>20/11/20 16:44:33</td>   <td>2163</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TS_06_OLO_Combinations.FirstTestCase(java.lang.String, java.lang.String)[pri:0, instance:com.client.cpq.uitests.admin.TS_06_OLO_Combinations@6eebc39e]">FirstTestCase</td> 
  <td>TestNG@2137072410</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>20/11/20 16:44:33</td>   <td>2247</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DriverManagerUtil.setup(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.client.cpq.uitests.admin.TS_06_OLO_Combinations@31ef45e3]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>TestNG@2137072410</td>   <td></td> </tr>
<tr bgcolor="62aa67">  <td>20/11/20 16:44:33</td>   <td>2478</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TS_06_OLO_Combinations.FirstTestCase(java.lang.String, java.lang.String)[pri:0, instance:com.client.cpq.uitests.admin.TS_06_OLO_Combinations@31ef45e3]">FirstTestCase</td> 
  <td>TestNG@2137072410</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>20/11/20 16:44:33</td>   <td>2561</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DriverManagerUtil.setup(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.client.cpq.uitests.admin.TS_06_OLO_Combinations@271053e1]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>TestNG@2137072410</td>   <td></td> </tr>
<tr bgcolor="62aa67">  <td>20/11/20 16:44:34</td>   <td>2687</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TS_06_OLO_Combinations.FirstTestCase(java.lang.String, java.lang.String)[pri:0, instance:com.client.cpq.uitests.admin.TS_06_OLO_Combinations@271053e1]">FirstTestCase</td> 
  <td>TestNG@2137072410</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>20/11/20 16:44:34</td>   <td>2747</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DriverManagerUtil.setup(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.client.cpq.uitests.admin.TS_06_OLO_Combinations@2f686d1f]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>TestNG@2137072410</td>   <td></td> </tr>
<tr bgcolor="62aa67">  <td>20/11/20 16:44:34</td>   <td>2879</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TS_06_OLO_Combinations.FirstTestCase(java.lang.String, java.lang.String)[pri:0, instance:com.client.cpq.uitests.admin.TS_06_OLO_Combinations@2f686d1f]">FirstTestCase</td> 
  <td>TestNG@2137072410</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>20/11/20 16:44:34</td>   <td>2951</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DriverManagerUtil.setup(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.client.cpq.uitests.admin.TS_06_OLO_Combinations@5bcab519]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>TestNG@2137072410</td>   <td></td> </tr>
<tr bgcolor="62aa67">  <td>20/11/20 16:44:34</td>   <td>3092</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TS_06_OLO_Combinations.FirstTestCase(java.lang.String, java.lang.String)[pri:0, instance:com.client.cpq.uitests.admin.TS_06_OLO_Combinations@5bcab519]">FirstTestCase</td> 
  <td>TestNG@2137072410</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>20/11/20 16:44:34</td>   <td>3211</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DriverManagerUtil.setup(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.client.cpq.uitests.admin.TS_06_OLO_Combinations@56ac3a89]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>TestNG@2137072410</td>   <td></td> </tr>
<tr bgcolor="62aa67">  <td>20/11/20 16:44:34</td>   <td>3366</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TS_06_OLO_Combinations.FirstTestCase(java.lang.String, java.lang.String)[pri:0, instance:com.client.cpq.uitests.admin.TS_06_OLO_Combinations@56ac3a89]">FirstTestCase</td> 
  <td>TestNG@2137072410</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>20/11/20 16:44:34</td>   <td>3443</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DriverManagerUtil.setup(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.client.cpq.uitests.admin.TS_06_OLO_Combinations@cb644e]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>TestNG@2137072410</td>   <td></td> </tr>
<tr bgcolor="62aa67">  <td>20/11/20 16:44:35</td>   <td>3664</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TS_06_OLO_Combinations.FirstTestCase(java.lang.String, java.lang.String)[pri:0, instance:com.client.cpq.uitests.admin.TS_06_OLO_Combinations@cb644e]">FirstTestCase</td> 
  <td>TestNG@2137072410</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>20/11/20 16:44:35</td>   <td>3715</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DriverManagerUtil.setup(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.client.cpq.uitests.admin.TS_06_OLO_Combinations@5702b3b1]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>TestNG@2137072410</td>   <td></td> </tr>
<tr bgcolor="62aa67">  <td>20/11/20 16:44:35</td>   <td>3802</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TS_06_OLO_Combinations.FirstTestCase(java.lang.String, java.lang.String)[pri:0, instance:com.client.cpq.uitests.admin.TS_06_OLO_Combinations@5702b3b1]">FirstTestCase</td> 
  <td>TestNG@2137072410</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>20/11/20 16:44:35</td>   <td>3860</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DriverManagerUtil.setup(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.client.cpq.uitests.admin.TS_06_OLO_Combinations@5649fd9b]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>TestNG@2137072410</td>   <td></td> </tr>
<tr bgcolor="62aa67">  <td>20/11/20 16:44:35</td>   <td>3985</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TS_06_OLO_Combinations.FirstTestCase(java.lang.String, java.lang.String)[pri:0, instance:com.client.cpq.uitests.admin.TS_06_OLO_Combinations@5649fd9b]">FirstTestCase</td> 
  <td>TestNG@2137072410</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>20/11/20 16:44:35</td>   <td>4038</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DriverManagerUtil.setup(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.client.cpq.uitests.admin.TS_06_OLO_Combinations@64bfbc86]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>TestNG@2137072410</td>   <td></td> </tr>
<tr bgcolor="62aa67">  <td>20/11/20 16:44:35</td>   <td>4135</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TS_06_OLO_Combinations.FirstTestCase(java.lang.String, java.lang.String)[pri:0, instance:com.client.cpq.uitests.admin.TS_06_OLO_Combinations@64bfbc86]">FirstTestCase</td> 
  <td>TestNG@2137072410</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>20/11/20 16:44:35</td>   <td>4187</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DriverManagerUtil.setup(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.client.cpq.uitests.admin.TS_06_OLO_Combinations@7e0b0338]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>TestNG@2137072410</td>   <td></td> </tr>
<tr bgcolor="62aa67">  <td>20/11/20 16:44:35</td>   <td>4292</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TS_06_OLO_Combinations.FirstTestCase(java.lang.String, java.lang.String)[pri:0, instance:com.client.cpq.uitests.admin.TS_06_OLO_Combinations@7e0b0338]">FirstTestCase</td> 
  <td>TestNG@2137072410</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>20/11/20 16:44:35</td>   <td>4345</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DriverManagerUtil.setup(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.client.cpq.uitests.admin.TS_06_OLO_Combinations@544fe44c]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>TestNG@2137072410</td>   <td></td> </tr>
<tr bgcolor="62aa67">  <td>20/11/20 16:44:35</td>   <td>4472</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TS_06_OLO_Combinations.FirstTestCase(java.lang.String, java.lang.String)[pri:0, instance:com.client.cpq.uitests.admin.TS_06_OLO_Combinations@544fe44c]">FirstTestCase</td> 
  <td>TestNG@2137072410</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>20/11/20 16:44:35</td>   <td>4521</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DriverManagerUtil.setup(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.client.cpq.uitests.admin.TS_06_OLO_Combinations@66480dd7]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>TestNG@2137072410</td>   <td></td> </tr>
<tr bgcolor="62aa67">  <td>20/11/20 16:44:36</td>   <td>4625</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TS_06_OLO_Combinations.FirstTestCase(java.lang.String, java.lang.String)[pri:0, instance:com.client.cpq.uitests.admin.TS_06_OLO_Combinations@66480dd7]">FirstTestCase</td> 
  <td>TestNG@2137072410</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>20/11/20 16:44:36</td>   <td>4673</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DriverManagerUtil.setup(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.client.cpq.uitests.admin.TS_06_OLO_Combinations@71423665]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>TestNG@2137072410</td>   <td></td> </tr>
<tr bgcolor="62aa67">  <td>20/11/20 16:44:36</td>   <td>4786</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TS_06_OLO_Combinations.FirstTestCase(java.lang.String, java.lang.String)[pri:0, instance:com.client.cpq.uitests.admin.TS_06_OLO_Combinations@71423665]">FirstTestCase</td> 
  <td>TestNG@2137072410</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>20/11/20 16:44:36</td>   <td>4846</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DriverManagerUtil.setup(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.client.cpq.uitests.admin.TS_06_OLO_Combinations@4e9ba398]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>TestNG@2137072410</td>   <td></td> </tr>
<tr bgcolor="62aa67">  <td>20/11/20 16:44:36</td>   <td>4934</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TS_06_OLO_Combinations.FirstTestCase(java.lang.String, java.lang.String)[pri:0, instance:com.client.cpq.uitests.admin.TS_06_OLO_Combinations@4e9ba398]">FirstTestCase</td> 
  <td>TestNG@2137072410</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>20/11/20 16:44:36</td>   <td>4990</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DriverManagerUtil.setup(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.client.cpq.uitests.admin.TS_06_OLO_Combinations@63753b6d]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>TestNG@2137072410</td>   <td></td> </tr>
<tr bgcolor="62aa67">  <td>20/11/20 16:44:36</td>   <td>5066</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TS_06_OLO_Combinations.FirstTestCase(java.lang.String, java.lang.String)[pri:0, instance:com.client.cpq.uitests.admin.TS_06_OLO_Combinations@63753b6d]">FirstTestCase</td> 
  <td>TestNG@2137072410</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>20/11/20 16:44:36</td>   <td>5121</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DriverManagerUtil.setup(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.client.cpq.uitests.admin.TS_06_OLO_Combinations@6f1fba17]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>TestNG@2137072410</td>   <td></td> </tr>
<tr bgcolor="62aa67">  <td>20/11/20 16:44:41</td>   <td>10391</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TS_06_OLO_Combinations.methodsetup()[pri:0, instance:com.client.cpq.uitests.admin.TS_06_OLO_Combinations@6f1fba17]">&gt;&gt;methodsetup</td> 
<td>&nbsp;</td>  <td>TestNG@2137072410</td>   <td></td> </tr>
<tr bgcolor="62aa67">  <td>20/11/20 16:44:41</td>   <td>10465</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TS_06_OLO_Combinations.FirstTestCase(java.lang.String, java.lang.String)[pri:0, instance:com.client.cpq.uitests.admin.TS_06_OLO_Combinations@6f1fba17]">FirstTestCase</td> 
  <td>TestNG@2137072410</td>   <td></td> </tr>
</table>
