<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="62aa67">  <td>20/11/20 16:44:32</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TS_06_OLO_Combinations.FirstTestCase(java.lang.String, java.lang.String)[pri:0, instance:com.client.cpq.uitests.admin.TS_06_OLO_Combinations@3e6fa38a]">FirstTestCase</td> 
  <td>TestNG@2137072410</td>   <td></td> </tr>
<tr bgcolor="62aa67">  <td>20/11/20 16:44:33</td>   <td>653</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TS_06_OLO_Combinations.FirstTestCase(java.lang.String, java.lang.String)[pri:0, instance:com.client.cpq.uitests.admin.TS_06_OLO_Combinations@4667ae56]">FirstTestCase</td> 
  <td>TestNG@2137072410</td>   <td></td> </tr>
<tr bgcolor="62aa67">  <td>20/11/20 16:44:33</td>   <td>961</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TS_06_OLO_Combinations.FirstTestCase(java.lang.String, java.lang.String)[pri:0, instance:com.client.cpq.uitests.admin.TS_06_OLO_Combinations@6eebc39e]">FirstTestCase</td> 
  <td>TestNG@2137072410</td>   <td></td> </tr>
<tr bgcolor="62aa67">  <td>20/11/20 16:44:33</td>   <td>1276</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TS_06_OLO_Combinations.FirstTestCase(java.lang.String, java.lang.String)[pri:0, instance:com.client.cpq.uitests.admin.TS_06_OLO_Combinations@31ef45e3]">FirstTestCase</td> 
  <td>TestNG@2137072410</td>   <td></td> </tr>
<tr bgcolor="62aa67">  <td>20/11/20 16:44:34</td>   <td>1485</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TS_06_OLO_Combinations.FirstTestCase(java.lang.String, java.lang.String)[pri:0, instance:com.client.cpq.uitests.admin.TS_06_OLO_Combinations@271053e1]">FirstTestCase</td> 
  <td>TestNG@2137072410</td>   <td></td> </tr>
<tr bgcolor="62aa67">  <td>20/11/20 16:44:34</td>   <td>1677</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TS_06_OLO_Combinations.FirstTestCase(java.lang.String, java.lang.String)[pri:0, instance:com.client.cpq.uitests.admin.TS_06_OLO_Combinations@2f686d1f]">FirstTestCase</td> 
  <td>TestNG@2137072410</td>   <td></td> </tr>
<tr bgcolor="62aa67">  <td>20/11/20 16:44:34</td>   <td>1890</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TS_06_OLO_Combinations.FirstTestCase(java.lang.String, java.lang.String)[pri:0, instance:com.client.cpq.uitests.admin.TS_06_OLO_Combinations@5bcab519]">FirstTestCase</td> 
  <td>TestNG@2137072410</td>   <td></td> </tr>
<tr bgcolor="62aa67">  <td>20/11/20 16:44:34</td>   <td>2164</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TS_06_OLO_Combinations.FirstTestCase(java.lang.String, java.lang.String)[pri:0, instance:com.client.cpq.uitests.admin.TS_06_OLO_Combinations@56ac3a89]">FirstTestCase</td> 
  <td>TestNG@2137072410</td>   <td></td> </tr>
<tr bgcolor="62aa67">  <td>20/11/20 16:44:35</td>   <td>2462</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TS_06_OLO_Combinations.FirstTestCase(java.lang.String, java.lang.String)[pri:0, instance:com.client.cpq.uitests.admin.TS_06_OLO_Combinations@cb644e]">FirstTestCase</td> 
  <td>TestNG@2137072410</td>   <td></td> </tr>
<tr bgcolor="62aa67">  <td>20/11/20 16:44:35</td>   <td>2600</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TS_06_OLO_Combinations.FirstTestCase(java.lang.String, java.lang.String)[pri:0, instance:com.client.cpq.uitests.admin.TS_06_OLO_Combinations@5702b3b1]">FirstTestCase</td> 
  <td>TestNG@2137072410</td>   <td></td> </tr>
<tr bgcolor="62aa67">  <td>20/11/20 16:44:35</td>   <td>2783</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TS_06_OLO_Combinations.FirstTestCase(java.lang.String, java.lang.String)[pri:0, instance:com.client.cpq.uitests.admin.TS_06_OLO_Combinations@5649fd9b]">FirstTestCase</td> 
  <td>TestNG@2137072410</td>   <td></td> </tr>
<tr bgcolor="62aa67">  <td>20/11/20 16:44:35</td>   <td>2933</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TS_06_OLO_Combinations.FirstTestCase(java.lang.String, java.lang.String)[pri:0, instance:com.client.cpq.uitests.admin.TS_06_OLO_Combinations@64bfbc86]">FirstTestCase</td> 
  <td>TestNG@2137072410</td>   <td></td> </tr>
<tr bgcolor="62aa67">  <td>20/11/20 16:44:35</td>   <td>3090</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TS_06_OLO_Combinations.FirstTestCase(java.lang.String, java.lang.String)[pri:0, instance:com.client.cpq.uitests.admin.TS_06_OLO_Combinations@7e0b0338]">FirstTestCase</td> 
  <td>TestNG@2137072410</td>   <td></td> </tr>
<tr bgcolor="62aa67">  <td>20/11/20 16:44:35</td>   <td>3270</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TS_06_OLO_Combinations.FirstTestCase(java.lang.String, java.lang.String)[pri:0, instance:com.client.cpq.uitests.admin.TS_06_OLO_Combinations@544fe44c]">FirstTestCase</td> 
  <td>TestNG@2137072410</td>   <td></td> </tr>
<tr bgcolor="62aa67">  <td>20/11/20 16:44:36</td>   <td>3423</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TS_06_OLO_Combinations.FirstTestCase(java.lang.String, java.lang.String)[pri:0, instance:com.client.cpq.uitests.admin.TS_06_OLO_Combinations@66480dd7]">FirstTestCase</td> 
  <td>TestNG@2137072410</td>   <td></td> </tr>
<tr bgcolor="62aa67">  <td>20/11/20 16:44:36</td>   <td>3584</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TS_06_OLO_Combinations.FirstTestCase(java.lang.String, java.lang.String)[pri:0, instance:com.client.cpq.uitests.admin.TS_06_OLO_Combinations@71423665]">FirstTestCase</td> 
  <td>TestNG@2137072410</td>   <td></td> </tr>
<tr bgcolor="62aa67">  <td>20/11/20 16:44:36</td>   <td>3732</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TS_06_OLO_Combinations.FirstTestCase(java.lang.String, java.lang.String)[pri:0, instance:com.client.cpq.uitests.admin.TS_06_OLO_Combinations@4e9ba398]">FirstTestCase</td> 
  <td>TestNG@2137072410</td>   <td></td> </tr>
<tr bgcolor="62aa67">  <td>20/11/20 16:44:36</td>   <td>3864</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TS_06_OLO_Combinations.FirstTestCase(java.lang.String, java.lang.String)[pri:0, instance:com.client.cpq.uitests.admin.TS_06_OLO_Combinations@63753b6d]">FirstTestCase</td> 
  <td>TestNG@2137072410</td>   <td></td> </tr>
<tr bgcolor="62aa67">  <td>20/11/20 16:44:41</td>   <td>9263</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TS_06_OLO_Combinations.FirstTestCase(java.lang.String, java.lang.String)[pri:0, instance:com.client.cpq.uitests.admin.TS_06_OLO_Combinations@6f1fba17]">FirstTestCase</td> 
  <td>TestNG@2137072410</td>   <td></td> </tr>
<tr bgcolor="62aa67">  <td>20/11/20 16:44:41</td>   <td>9189</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TS_06_OLO_Combinations.methodsetup()[pri:0, instance:com.client.cpq.uitests.admin.TS_06_OLO_Combinations@6f1fba17]">&gt;&gt;methodsetup</td> 
<td>&nbsp;</td>  <td>TestNG@2137072410</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>20/11/20 16:44:31</td>   <td>-1202</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DriverManagerUtil.setup(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.client.cpq.uitests.admin.TS_06_OLO_Combinations@3e6fa38a]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>TestNG@2137072410</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>20/11/20 16:44:32</td>   <td>373</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DriverManagerUtil.setup(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.client.cpq.uitests.admin.TS_06_OLO_Combinations@4667ae56]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>TestNG@2137072410</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>20/11/20 16:44:33</td>   <td>757</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DriverManagerUtil.setup(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.client.cpq.uitests.admin.TS_06_OLO_Combinations@6eebc39e]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>TestNG@2137072410</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>20/11/20 16:44:33</td>   <td>1045</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DriverManagerUtil.setup(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.client.cpq.uitests.admin.TS_06_OLO_Combinations@31ef45e3]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>TestNG@2137072410</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>20/11/20 16:44:33</td>   <td>1359</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DriverManagerUtil.setup(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.client.cpq.uitests.admin.TS_06_OLO_Combinations@271053e1]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>TestNG@2137072410</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>20/11/20 16:44:34</td>   <td>1545</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DriverManagerUtil.setup(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.client.cpq.uitests.admin.TS_06_OLO_Combinations@2f686d1f]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>TestNG@2137072410</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>20/11/20 16:44:34</td>   <td>1749</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DriverManagerUtil.setup(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.client.cpq.uitests.admin.TS_06_OLO_Combinations@5bcab519]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>TestNG@2137072410</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>20/11/20 16:44:34</td>   <td>2009</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DriverManagerUtil.setup(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.client.cpq.uitests.admin.TS_06_OLO_Combinations@56ac3a89]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>TestNG@2137072410</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>20/11/20 16:44:34</td>   <td>2241</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DriverManagerUtil.setup(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.client.cpq.uitests.admin.TS_06_OLO_Combinations@cb644e]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>TestNG@2137072410</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>20/11/20 16:44:35</td>   <td>2513</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DriverManagerUtil.setup(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.client.cpq.uitests.admin.TS_06_OLO_Combinations@5702b3b1]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>TestNG@2137072410</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>20/11/20 16:44:35</td>   <td>2658</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DriverManagerUtil.setup(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.client.cpq.uitests.admin.TS_06_OLO_Combinations@5649fd9b]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>TestNG@2137072410</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>20/11/20 16:44:35</td>   <td>2836</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DriverManagerUtil.setup(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.client.cpq.uitests.admin.TS_06_OLO_Combinations@64bfbc86]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>TestNG@2137072410</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>20/11/20 16:44:35</td>   <td>2985</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DriverManagerUtil.setup(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.client.cpq.uitests.admin.TS_06_OLO_Combinations@7e0b0338]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>TestNG@2137072410</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>20/11/20 16:44:35</td>   <td>3143</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DriverManagerUtil.setup(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.client.cpq.uitests.admin.TS_06_OLO_Combinations@544fe44c]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>TestNG@2137072410</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>20/11/20 16:44:35</td>   <td>3319</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DriverManagerUtil.setup(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.client.cpq.uitests.admin.TS_06_OLO_Combinations@66480dd7]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>TestNG@2137072410</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>20/11/20 16:44:36</td>   <td>3471</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DriverManagerUtil.setup(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.client.cpq.uitests.admin.TS_06_OLO_Combinations@71423665]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>TestNG@2137072410</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>20/11/20 16:44:36</td>   <td>3644</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DriverManagerUtil.setup(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.client.cpq.uitests.admin.TS_06_OLO_Combinations@4e9ba398]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>TestNG@2137072410</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>20/11/20 16:44:36</td>   <td>3788</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DriverManagerUtil.setup(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.client.cpq.uitests.admin.TS_06_OLO_Combinations@63753b6d]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>TestNG@2137072410</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>20/11/20 16:44:36</td>   <td>3919</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DriverManagerUtil.setup(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.client.cpq.uitests.admin.TS_06_OLO_Combinations@6f1fba17]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>TestNG@2137072410</td>   <td></td> </tr>
</table>
